pipeline/pl_dataCount.json
{
	"name": "pl_dataCount",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TABLE_SCHEMA, TABLE_NAME FROM information_schema.TABLES WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_SCHEMA = 'SalesLT'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_SqlServerParameterised",
						"type": "DatasetReference",
						"parameters": {
							"Schema": ".",
							"Table": "-"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderStoredProcedureName": "[dbo].[dynamic_source_count]",
									"storedProcedureParameters": {
										"schema": {
											"type": "String",
											"value": {
												"value": "@{item().TABLE_SCHEMA}",
												"type": "Expression"
											}
										},
										"table": {
											"type": "String",
											"value": {
												"value": "@{item().TABLE_NAME}",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_SqlServerParameterised",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@{item().TABLE_SCHEMA}",
											"type": "Expression"
										},
										"Table": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_SqlServerParameterised",
									"type": "DatasetReference",
									"parameters": {
										"Schema": {
											"value": "@{item().TABLE_SCHEMA}",
											"type": "Expression"
										},
										"Table": {
											"value": "@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_AzureSQLParameterized",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@concat('sinktbl_',item().TABLE_NAME)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Lookup3",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[dynamic_sink_count]",
									"storedProcedureParameters": {
										"schema": {
											"type": "String",
											"value": "dbo"
										},
										"table": {
											"type": "String",
											"value": {
												"value": "@concat('sinktbl_',item().TABLE_NAME)",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_AzureSQLParameterized",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@concat('sinktbl_',item().TABLE_NAME)",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Lookup4",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Lookup3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[spCountComparison]",
									"storedProcedureParameters": {
										"sink_count": {
											"type": "Int32",
											"value": {
												"value": "@activity('Lookup3').output.value[0].count",
												"type": "Expression"
											}
										},
										"source_count": {
											"type": "Int32",
											"value": {
												"value": "@activity('Lookup2').output.value[0].source_count",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_AzureSQLParameterized",
									"type": "DatasetReference",
									"parameters": {
										"tablename": "@concat('sinktbl_',item().TABLE_NAME)"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "newTasksADF"
		},
		"annotations": [],
		"lastPublishTime": "2022-04-16T11:58:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}